entry.search {
  border-radius: 999px;
}

.disclosure-button button {
  border-radius: 999px;
}

textview text {
  background: linear-gradient(0deg, alpha(@accent_bg_color, 0.03), alpha(@accent_bg_color, 0.03)), image(@view_bg_color);
}

.big-font {
  font-size: 1.4rem;
}

.med-font {
  font-size: 1.1rem;
}

.sml-font {
  font-size: 0.9rem;
}

.vim-status-bar {
  font-weight: bold;
}

.gutter-padding-fix {
    padding: 0;
}
